# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# # set `default_language_version` need this version of Python existed on the computer
# default_language_version:
#   python: python3.10

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
      - id: check-toml
      - id: check-json
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        # NOTE: the dependencies must consistent with `commitlint.config.js`
        additional_dependencies: ["@commitlint/config-conventional"]
  - repo: local
    hooks:
      - id: fmt-check
        stages: [pre-commit]
        name: python format check
        language: system
        entry: hatch run fmt:fmt-check
        # types: [python] # DO NOT set `types`, beacuse `pyproject.toml` is not included in `types: [python]`
      - id: type-check
        stages: [pre-commit]
        name: python type check
        language: system
        entry: hatch run type-check
        # types: [python] # DO NOT set `types`, beacuse `pyproject.toml` is not included in `types: [python]`

ci:
  # NOTE: skip all local system hooks
  # NOTE: keep the name of hooks which be skipped consistent with `.github/workflows/lint-test.yml`
  skip: [fmt-check, type-check]
